aiohttp
aiosignal
faiss-cpu
altair
annotated-types
pypdf2
anyio
langchain_google_genai
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
dataclasses-json
debugpy
decorator
defusedxml
distro
dnspython
email_validator
exceptiongroup
executing
greenlet
h11
httpcore
httptools
httpx
idna
ipykernel
ipynb
ipython
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
langchain
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
multidict
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
openai
orjson
overrides
packaging
pandas
pandocfilters
parso
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
pure-eval
pycparser
pydantic
pydantic_core
pydeck
Pygments
pypdf
python-dateutil
python-dotenv
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
regex
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
shellingham
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
starlette
streamlit
tenacity
terminado
tiktoken
tinycss2
toml
tomli
toolz
tornado
tqdm
traitlets
typer
types-python-dateutil
typing-inspect
typing_extensions
